{$APP_DOMAIN}, {$APP_WWW_DOMAIN} {
  encode gzip zstd

  @backend path /api/* /docs /docs/* /openapi.json /redoc /redoc/*
  handle @backend {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:80
  }
}
